<h2>Product list</h2>

<table id="productList" class="table table-hover">
    <thead>
        <tr>
            <th>Status</th>
            <th>Title</th>
            <th>Description</th>
            <th>Code</th>
            <th>Price</th>
            <th>Category</th>
        </tr>
    </thead>
    <tbody>
        {{#each payload}}
        <tr>
            <td>
                {{#if status}}
                Active
                {{else}}
                Inactive
                {{/if}}
            </td>
            <td>{{title}}</td>
            <td>{{description}}</td>
            <td>{{code}}</td>
            <td>{{price}}</td>
            <td>{{category}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>
<!-- Pagination -->
<div>
    {{#if totalPages}}
        {{#if hasPrevPage}}
            <a href={{prevLink}}>Previous</a>
        {{else}}
         <span>Previous</span>
        {{/if}}

        {{#if hasNextPage}}
        
        <a href={{nextLink}}>Next</a>
        {{else}}
            <span>Next</span>
        {{/if}}
    {{/if}}
</div>
